.holder {
    text-align: center;
    vertical-align: middle;
}

#home_photo {
    height: 93vh;
    width: 99vw;
}

#contact_photo {
    height: 300px;
    border: 2px solid dimgrey;
    border-radius: 200px;
}

/* Form field designs */
input[type=text], input[type=password], textarea {
    width: 95%;
    max-width: 610px;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid dimgrey;
    border-radius: 8px;
}

/* Submit button designs */
input[type=submit] {
    background-color: #3385ff;
    color: white;
    width: 95%;
    max-width: 610px;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1.5px solid #3385ff;
    border-radius: 8px;
}

/* Submit button hover designs */
input[type=submit]:hover {
    background-color: #0066ff;
}

#contact_block {
    width: 95%;
    max-width: 840px;
}

p {
    font-family: Dosis;
    width: 95%;
    font-size: 18px;
    text-decoration: none;
}


/* Social media icons */
#social a {
    text-decoration: none;
}

/* Centers the social media icons and spaces them evenly */
.fa {
    font-size: 25px;
    text-align: center;
    padding: 5vh 20px;
}

post {
    height: 300px;
}

.post_elements {
    display: block;
}

.portfolioPics {
    width: 90%;
    text-align: center;
}

/* navigation bar */
nav ul a {
    font-family: Nunito;
    font-size: 25px;
    color: dimgrey;
    padding: 0px 25px;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {



}