{% extends "base.html" %}

{% block content %}

<div class="border row">
    <div class="col-sm-5">
        <img id="contact_photo" src="{{ url_for('static', filename='images/contactPhoto1.jpg') }}">
        <h2 style="padding-top: 10px; font-family: Dosis;font-weight: 800;">Thanks for visiting!</h2>
        <div>
            <form action="/contact" method="post">
                <div>
                    <tr>
                        <td><label for="name"></label></td>
                        <td>
                            <input type="text" name="name" value="{{ name }}" placeholder="Enter your name" style="width: 300px;">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="message"></label></td>
                        <td>
                            <textarea name="message" type="text" value="{{ message }}" placeholder="Got anything you want to tell me?" style="width: 300px; height: 150px;"></textarea>
                        </td>
                    </tr>
                </div>
                <input type="submit" value="Send!">
            </form>
        </div>
    </div>
    <div class="col-sm-7">
        <h3 style="text-align: center; font-family: Dosis; font-weight: 700;">Salutations!</h3>
        <br/>
        <p>Welcome to my website. First and foremost, let me introduce myself and tell you a little about who I am. My name is Joseph Emmanuel Ylagan, but please call me Joe. I'm from West Seattle and I like to code.
            If I'm not coding, im usually on the basketball court breaking ankles // posing in everyone's snapchat // asking for the last bite of your burger. Here, I will post about
            me and things that I enjoy. Thank you for visiting and on to the more serious side of me.
        </p>

        <p>I am a highly motivated, young professional seeking for opportunities as a Software Developer. I just
            graduated from a program called <a href="https://www.launchcode.org/">LaunchCode</a> where, of course, I learned to code. I learned coding techniques,
            and specialized in algorithms+data structures. I am very passionate about tech and I believe I have the potential and savviness to make a impact
            wherever I go! I currently already work in the IT field as an IT Support Technician (@ Alaska Airlines) so the skills I utilize in my job can be transferable as I make my transition.
        </p>
        <div class="nav justify-content-center">
            <div id="social">
                <a href="https://www.facebook.com/profile.php?id=100000061482346&ref=br_rs" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/jylag__/" class="fa fa-instagram"></a>
                <a href="https://www.linkedin.com/in/joseph-ylagan-a21898bb/" class="fa fa-linkedin"></a>
                <a href="https://github.com/JYlag" class="fa fa-github"></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}