{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% if 'username' in session %}
            <div class="row">
            {% if posts %}
            {% for post in posts %}
                <div class="col-sm-4" style="text-align: center;">
                    <div class="post">
                        <div class="post_elements">
                            <img class="portfolioPics" src="{{ url_for('static', filename='images/' + post.image_path ) }}">
                        </div>
                        <div class="post_elements">
                            <a>{{ post.title }}</a>
                        </div>
                        <div class="post_elements">
                            <p>{{ post.summary }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}

                <div class="col-sm-4" style="text-align: center;">
                        <a href="/add-post"><i style="font-size:24px" class="fa">&#xf196;</i></a>
                </div>
            </div>

        {% elif 'username' not in session %}
            <div class="row">
            {% if posts %}
                {% for post in posts %}
                    <div class="col-sm-4" style="text-align: center;">
                        <div class="post">
                            <div class="post_elements">
                                <img class="portfolioPics" src="{{ url_for('static', filename='images/' + post.image_path ) }}">
                            </div>
                            <div class="post_elements">
                                <a>{{ post.title }}</a>
                            </div>
                            <div class="post_elements">
                                <p>{{ post.summary }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}